@model ForAdventure.Models.ViewModels.HomeVM
@using System.Globalization;
@using ForAdventure.Service.IService
@inject IRoomService service;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        position: center;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background-image: url('../images/bgImage.jpg');
        background-repeat: no-repeat;
    }
    body > img {
        width: 100%;
        height: auto;
    }
</style>
<div class="home-bg">
    <div class="home-content">
        <div class="text-right mt-5" style="height:670px;word-wrap:break-word">
            <div class="">
                <h1 style="font-size:35px">Welcome to ForAdventure</h1>
                <span style="height:300px;word-wrap:break-word;font-size:30px;background-color:rgba(0,0,0,0.75);border-radius:5px" class="auto-input text-white"></span>
            </div>
        </div>
        <div class="d-flex flex-column mt-4">
            <div class="d-flex flex-row justify-content-evenly align-items-baseline">
                <div>
                    <a id="activity" href="#activity" class="me-md-3 ms-md-3" style="font-weight: bold; text-decoration:none;">
                        <p style="font-size:18px">Activities</p>
                    </a>
                </div>
                <div>
                    <a id="equipment" href="#equipment" class="me-md-3 ms-md-3" style="text-decoration:none;">
                        <p style="font-size:18px">Equipment</p>
                    </a>
                </div>
                <div>
                    <a id="hotel" href="#hotel" class="ms-md-3" style="text-decoration:none;">
                        <p style="font-size:18px">Hotels</p>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div id="activity-list-container">
                    <div id="carouselAct" class="carousel slide">
                        <div class="carousel-inner">
                            @{
                                bool isFirstAct = true;
                                foreach (Activity act in Model.LatestActivities)
                                {
                                    if (act.DateFrom >= DateTime.Today)
                                    {
                                            <div class="carousel-item @((isFirstAct) ? "active" : "")">
                                            <a asp-controller="Activity" asp-action="ActivityPage" asp-route-ActivityId="@act.Id" style="text-decoration:none">
                                                    <div class="d-flex flex-column justify-content-evenly align-items-center">
                                                        <div class="d-flex flex-column justify-content-start">
                                                            <div >
                                                                @if (!string.IsNullOrEmpty(act.ImageURL))
                                                                {
                                                                    <img class="img-fluid" style="border-radius: 5%; width: 300px;height:auto" src="@act.ImageURL" alt="Activity Photo" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="img-fluid" style="border-radius: 5%; width: 300px;height:auto" src="/default-images/download.jpg" alt="Default Photo" />
                                                                }
                                                            </div>
                                                            <div class="">
                                                                <div class="activity-info">
                                                                    <div style="word-wrap:break-word">
                                                                        <h3 class="text-primary">@act.Name</h3>
                                                                    </div>
                                                                    @if (act.ActivityType != null)
                                                                    {
                                                                        <p class="text-primary"><i class="bi bi-tree-fill"></i> @act.ActivityType.Type</p>
                                                                    }
                                                                    <p class="text-primary"><i class="bi bi-geo-alt-fill"></i> @act.Address, @act.Location</p>
                                                                    @{
                                                                        int LeftPlaces = act.Capacity - act.CurrentNumberPeople;
                                                                        if (LeftPlaces <= 3)
                                                                        {
                                                                            if (LeftPlaces == 1)
                                                                            {
                                                                                <p><i class="bi bi-asterisk"></i>&nbsp;&nbsp;Only 1 place left</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p><i class="bi bi-asterisk"></i>&nbsp;&nbsp;Only @LeftPlaces places left</p>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <p><i class="bi bi-asterisk"></i>&nbsp;&nbsp;@LeftPlaces places left</p>
                                                                        }
                                                                    }
                                                                    <p class="text-primary"><i class="bi bi-tag"></i>&nbsp;@act.Price.ToString("C", new CultureInfo("en-MNE"))</p>
                                                                </div>
                                                            </div>
                                                    
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            
                                        isFirstAct = false;
                                    }
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAct" data-bs-slide="prev">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-left text-white"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselAct" data-bs-slide="next">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-right text-white"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div id="equipment-list-container">
                    <div id="carouselEq" class="carousel slide">
                        <div class="carousel-inner">
                            @{
                                bool isFirstEq = true;
                                if (Model.LatestEquipment != null)
                                {
                                    foreach (Equipment eq in Model.LatestEquipment)
                                    {
                                            <div class="carousel-item @((isFirstEq) ? "active" : "")">
                                                <a asp-controller="Equipment" asp-action="EquipmentPage" asp-route-EquipmentId="@eq.ID" style="text-decoration:none">
                                                    <div class="my-4">
                                                        <div class="d-flex flex-column justify-content-evenly align-items-center">
                                                            <div class="d-flex flex-column justify-content-start">
                                                                <div class="row" style="width:100%">
                                                                    <img style="width: 300px;height:auto;border-radius:5%;" src="@eq.ImageURLs.FirstOrDefault()" alt="Hotel Photo">
                                                                </div>
                                                                <div class="">
                                                                    <div class="equipment-info">
                                                                        <h3 class="text-primary">@eq.Naziv</h3>
                                                                        <p style="font-size:17px" class="text-primary"><i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;@eq.Adresa, @eq.Lokacija</p>
                                                                        <p style="font-size:17px" class="text-primary"><i class="bi bi-tag"></i>&nbsp;&nbsp;@eq.Cena.ToString("C", new CultureInfo("en-MNE"))</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            
                                        isFirstEq = false;
                                    }
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEq" data-bs-slide="prev">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-left text-white"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselEq" data-bs-slide="next">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-right text-white"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div id="hotel-list-container">
                    <div id="carouselHot" class="carousel slide">
                        <div class="carousel-inner">
                            @{
                                bool isFirstHot = true;
                                if (Model.LatestHotels != null)
                                {
                                    foreach (Hotel hotel in Model.LatestHotels)
                                    {
                                            <div class="carousel-item @((isFirstHot) ? "active" : "")">
                                            <a asp-controller="Hotel" asp-action="HotelPage" asp-route-HotelId="@hotel.Id" style="text-decoration:none">
                                                    <div class="hotel-item d-flex flex-column justify-content-evenly align-items-center">
                                                        <div class="d-flex flex-column justify-content-start">
                                                            <div class="hotel-image">
                                                                <img style="width: 300px;height:auto;border-radius:5%;" src="@hotel.ImageURLs.FirstOrDefault()" alt="Hotel Photo">
                                                            </div>
                                                            <div class="hotel-info">
                                                                <h3 class="text-primary">
                                                                    @hotel.Name
                                                                </h3>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p class="text-primary"><i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;@hotel.Address, @hotel.Location</p>
                                                                        @if (service.RoomCount(hotel.Id) == 0)
                                                                        {
                                                                            <p>No rooms available.</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (service.RoomCount(hotel.Id) <= 3)
                                                                            {
                                                                                if (service.RoomCount(hotel.Id) == 1)
                                                                                {
                                                                                    <p><i class="bi bi-asterisk"></i>&nbsp;&nbsp;Only @service.RoomCount(hotel.Id) room left</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p><i class="bi bi-asterisk"></i>&nbsp;&nbsp;Only @service.RoomCount(hotel.Id) rooms left</p>
                                                                                }
                                                                            }
                                                                            <p>From @service.GetLowestPrice(hotel.Id).ToString("C", new CultureInfo("en-MNE"))</p>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        
                                        isFirstHot = false;
                                    }
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHot" data-bs-slide="prev">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-left text-white"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselHot" data-bs-slide="next">
                            <i style="font-size:25px;background-color:rgba(0,0,0,0.95);border-radius:5px" class="bi bi-chevron-right text-white"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js" ></script>
<script>
    var typed = new Typed(".auto-input",{
        strings: ["Experience the thrill of an active vacation like never before!", "Discover a world of exciting activities, breathtaking destinations, and top-notch equipment rentals.", "Whether you're an adrenaline junkie or a nature lover, we have something for everyone.", "Start planning your dream adventure today and make unforgettable memories!"],
        typeSpeed: 10,
        backSpeed: 1,
        backDelay: 2500,
        showCursor: false,
        fadeOut: true,
        fadeOutClass: 'typed-fade-out',
        fadeOutDelay: 500,
        loop: true
    })
</script>
@section Scripts{
    <script>
        $(document).ready(function (){

            $("#equipment-list-container, #hotel-list-container").hide();

            function showHide(id) {
                if (id === "activity") {
                    $("#activity-list-container").show();
                    $("#equipment-list-container, #hotel-list-container").hide();
                    $("#activity").css("font-weight", "bold");
                    $("#equipment").css("font-weight", "normal");
                    $("#hotel").css("font-weight", "normal");
                    fetchLatestActivites();
                } else if (id === "equipment") {
                    $("#equipment-list-container").show();
                    $("#activity-list-container, #hotel-list-container").hide();
                    $("#activity").css("font-weight", "normal");
                    $("#equipment").css("font-weight", "bold");
                    $("#hotel").css("font-weight", "normal");
                    fetchLatestEquipment();
                } else if (id === "hotel") {
                    $("#hotel-list-container").show();
                    $("#activity-list-container, #equipment-list-container").hide();
                    $("#activity").css("font-weight", "normal");
                    $("#equipment").css("font-weight", "normal");
                    $("#hotel").css("font-weight", "bold");
                    fetchLatestHotels();
                }
            }

            $("#activity, #equipment, #hotel").click(function () {
                var id = $(this).attr("id");
                showHide(id);
            });
        });
    </script>
}